body{
    margin: 0;
    padding: 0;
    background:rgb(221, 229, 232);
    cursor: default;
}
.header{
    position: sticky;
    left:2rem;
    display:flex;
    align-items:center;
    /* border:2px solid blue; */
    background: linear-gradient(to bottom,rgba(0, 128, 0,.5),rgba(255, 255, 0,.5),rgba(255, 0, 0,.5));   

}
.logo{
    width: 50px;
    height: 70px;
    margin: 2px 20px;
   }
   ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    right:10%;
   }
   li{
    /* font-size: 20px; */
    font-weight: 600;
    padding-right: 5rem;
    cursor: pointer;
   }
   #call{
    cursor:copy;
    color: rgb(174, 28, 5);
   }
   #u1{
   position: absolute;
   right:60em;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 30px;
  padding:5px 5px;
  display: flex;
  align-items: center;
  box-shadow: 2px 1px 15px black;
   }
   .search:hover{
    width:100px;
   }
   .fa-solid{
    color:rgb(0, 0, 0);
    font-size: 15px;
    padding-top: 5px;
   }
.search{
    width: 100px;
    outline: none;
    border: none;
    background: transparent;
    font-weight: 300;
    transition: .8s;
}

/* CONTENT */
.f1{
    display: flex;
    margin:10px 30px;
}
#h1{
    font-size: 80px;
    text-shadow: 2px 3px 5px orange ;
}
#h2{
    position: relative;
    top:-40px;
    left:6em;
    font-size: 40px;
    color: rgba(85, 145, 0, 0.493);
}
#hbret, #frfr{
    position: relative;
    top:30px;
    left: 10em;
    width:25em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 15px 15px 25px black;
    z-index: -1;
}
#frfr{
    position: relative;
    top:10rem;
    left:-70em;
    width:13em;
    height: 13em;
    border-style:none;
    box-shadow: 5px 5px 15px black;
    z-index: -1;
}

.f2 {
    margin-left: 20px;
    margin-top: 10em;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    /* background-color: aqua;     */
}

.img {
    border:2px solid red;
    border-radius: 25px;
    max-width: 40em;
    max-height: 30em;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 75%;
    cursor: pointer;
}
.img .layer{
    padding-left: 30%;
    height: 200px;
    position: relative;
    top:o;
    right:0;
    background: linear-gradient(to top, green,transparent);
    border: 3px solid rgb(88, 72, 72);
}
.img h1,h2{

    text-shadow: 2px 2px 5px orange ;
}
   

  
